<div class="p-8 max-w-5xl mx-auto font-sans">
  
  @if (semillaService.cargando()) {
    <div class="flex flex-col items-center justify-center py-32 text-sena animate-pulse">
      <i class="pi pi-spin pi-spinner text-5xl mb-4"></i>
      <p class="text-xs font-black uppercase tracking-widest text-gray-400">Verificando árbol pedagógico en SGO...</p>
    </div>
  } 
  
  @else {
    
    @if (semillaService.tieneRapsAsignados()) {
      <app-raps-trabajando-component [raps]="semillaService.rapsTrabajando()" />
    }

    @else {
      <app-raps-disponibles-component 
        [competenciasConRaps]="competenciasConRaps"
        [mostrarBotonConfirmar]="semillaService.rapsDisponiblesParaSeleccionar().length > 0"
        (toggleRap)="onToggleRap($event.rapId, $event.event)"
        (confirmarSeleccion)="confirmarSeleccionRaps()" 
      />
    }

  }
</div>